@import "common/variables";

.page-header img {
  width: 100%;
  height: 500px;

  @media (max-width: 768px) {
    height: 400px;
  }

  @media (max-width: 425px) {
    height: 300px;
  }
}

.slider-container {
  img {
    width: 100%;
  }
}

.homeslide .slick-next {
  display: none !important;
}

.homepage-banner-text {
  position: absolute;
  font-size: 32px;
  font-weight: 600;
  color: #fff;
  z-index: 1;
  margin-bottom: 20px;
  margin-top: 10%;
  // letter-spacing: 0.02em;
  @media (max-width: 425px) {
    // margin-top: 10%;
    font-size: 25px;
  }

  @media (min-width: 425px) and (max-width: 660px) {
    font-size: 25px;
    margin-top: 20%;
  }

  @media (min-width: 1200px) {
    margin-top: 5%;
  }
}

.main-content {
  padding: 2% 5%;
}

.main-content h2 {
  text-align: center;
  margin-bottom: 30px;

  @media (max-width: 426px) {
    font-size: 25px;
  }
}

.main-content p {
  padding: 0 1rem;
}
