html,
body {
  height: 100%;
}

body {
  font-size: 17px;
  display: flex;
  flex-direction: column;

  p {
    @media (max-width: 320px) {
      font-size: 14px;
    }
  }
}

.main-wrapper {
  flex: 1 0 auto;
}

.wrap-container {
  margin-top: 58px;
}

.pages-header {
  background-color: #192c3d;
  position: relative;
  // height: 155px;
  color: #fff;
}

.single-product img {
  width: 100%;
}

.single-product-description,
.single-product-description p {
  font-size: 16px;

  @media (min-width: 426px) and (max-width: 768px) {
    font-size: 13px;
  }

  @media (max-width: 426px) {
    font-size: 12px;
    max-width: 100%;
  }

  @media (max-width: 320px) {
    font-size: 10px !important;
  }
}

.contact-banner-image {
  opacity: 0.5;
}

.contact-banner-image img {
  width: 100%;
  height: 560px;

  @media (max-width: 320px) {
    height: 400px;
  }
}

.secondParg {
  margin-bottom: auto;
}

@media (max-width: 600px) {
  // header {
  //   position: fixed;
  //   z-index: 1;
  // }
  // .top-bar,
  .mid-info {
    display: none;
  }
}

a:hover {
  text-decoration: none;
  color: #525ddc;
}

#menu-main-menu li a {
  color: black;
}

#contact {
  padding: 80px 0 40px 0;
  background-color: #fafafa;
}

.myContact-details {
  flex: none;
  max-width: -webkit-fill-available;
  margin-left: 0;
}

.contact-title {
  padding: 25px 0 45px 0;
}

.contact-title h2 {
  line-height: 20px;
  margin: 0;
  color: #121d1f;
  font-weight: 400;
  margin-bottom: 30px;
  font-size: 34px;
}

hr {
  height: 0.1px;
  width: auto;
  text-align: center;
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 auto;
  border: 0;
}

.page-title h2 {
  text-align: center;
  margin-bottom: 20px;
}

#product {
  padding: 80px 0;
}

#solution {
  padding: 80px 0;
}

.page-title {
  margin-bottom: 70px;
}

.contact-banner-text {
  position: absolute;
  font-size: 32px;
  font-weight: 600;
  color: black;
  // z-index: 50;
  // text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 10%;
  // letter-spacing: 0.02em;
  @media (max-width: 660px) {
    font-size: 25px;
    margin-top: 20%;
  }

  @media (min-width: 1200px) {
    margin-top: 5%;
  }
}

.button-group {
  text-align: center;
  margin-top: 2rem;
}

.team-section_block {
  padding: 16px 0;
}

.team-member_details {
  @media (max-width: 992px) {
    text-align: center;
  }
}

.prod-group_one {
  margin-bottom: 2rem;
}

.featured-image img {
  max-width: 100%;
  max-height: 100%;
}

.solution-content h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  font-family: Merriweather, serif;
  letter-spacing: 0;
  text-align: inherit;
  color: #253c4a;
}

.solution-content p {
  color: #787878;
}

.contact-form {
  // text-align: center;
  padding: 15px;
}

.form-intro {
  text-align: center;
  color: #73777f;
}

.form-intro h5 {
  font-weight: 700 !important;

  @media (max-width: 768px) {
    font-size: 18px;
  }
}

.form-element {
  @media (min-width: 768px) {
    width: 80%;
  }
}

// .wpcf7 {
// background-color: #dbdbdb;
// margin-left: 2rem;
// margin-right: 2rem;

// @media (max-width: 426px) {
//   margin-right: 0;
// }
// }

.wpcf7-form {
  margin-left: 2rem;
  margin-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: left;

  @media (min-width: 1025px) {
    margin-left: 6rem;
  }
}

.wpcf7 label {
  width: 100%;

  @media (min-width: 1024px) {
    width: 90%;
  }
}

.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 input[type="tel"],
.wpcf7-textarea {
  width: 90%;
  padding: 15px 17px;
  border: 1px solid #f0f0f0;
  border-color: #45a739;
  border-radius: 5px;
  font-size: 0.9375rem;

  @media (max-width: 425px) {
    width: 100%;
    padding: 0.3rem;
  }
}

.wpcf7 input[type="submit"] {
  color: #fff;
  border-color: #45a739;
  background-color: #45a739;
  border: 2px solid;
  border-radius: 5px;
  padding: 10px 40px;
  font-family: inherit;
  font-weight: inherit;
}

#footer-top {
  padding: 80px 0 0 0;
  color: #fff;
  background-color: #192c3d;
}

.footer-top {
  padding-bottom: 40px;
}

.footer-list-menu {
  list-style-type: none;
  padding-left: 0 !important;
}

.footer-list-solutions {
  list-style-type: none;
  padding-left: 0 !important;
}

.footer-list-address {
  list-style-type: none;
  padding-left: 0 !important;
}

.footer-content {
  text-align: left;
}

footer {
  background-color: #192c3d;
  height: 60px;
  color: white;
  width: auto;
  flex-shrink: 0;
  padding-top: 15px;
}

footer .container p {
  @media (max-width: 576px) {
    font-size: 15px;
  }

  @media (max-width: 476px) {
    font-size: 14px;
  }

  @media (max-width: 420px) {
    font-size: 13px;
  }

  @media (max-width: 396px) {
    font-size: 12px;
  }

  @media (max-width: 356px) {
    font-size: 11px;
  }

  @media (max-width: 336px) {
    font-size: 10px;
  }
}
