html,
body {
  height: 100%;
}

header {
  width: 100%;
  height: 100px;
  background-color: #192c3d;
  color: #fff;
  position: fixed;
  z-index: 1;
}

.top-bar {
  background-color: #eb6e01;
  display: flex;
  height: 45px;
  padding-right: 45px;
  padding-left: 45px;
}

body {
  display: flex;
  flex-direction: column;
}

.wrap-container {
  flex: 1 0 auto;
}

.homeslide {
  div {
    img {
      width: 100%;
    }
  }
}

footer {
  // background-color: "gray";
  background-color: #192c3d;
  height: 100px;
  width: auto;
  flex-shrink: 0;
}

.secondParg {
  margin-bottom: auto;
}

.nav-primary {
  z-index: 0;
  width: 100%;
  height: 60px;
  padding-right: 10%;
  padding-left: 10%;
  background-color: #fff;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}
